form,
section ul {
    margin-top: 40px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

ul li {
    list-style: none;
}

#form-container {
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: black;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1010%26quot%3b)' fill='none'%3e%3cpath d='M128.34 192.95L165.58 214.45L165.58 257.45L128.34 278.95L91.1 257.45L91.1 214.45zM351.78 579.95L389.02 601.45L389.02 644.45L351.78 665.95L314.54 644.45L314.54 601.45zM389.02 515.45L426.26 536.95L426.26 579.95L389.02 601.45L351.78 579.95L351.78 536.95zM500.74 192.95L537.98 214.45L537.98 257.45L500.74 278.95L463.5 257.45L463.5 214.45zM537.98 515.45L575.22 536.95L575.22 579.95L537.98 601.45L500.74 579.95L500.74 536.95zM686.94 257.45L724.18 278.95L724.18 321.95L686.94 343.45L649.7 321.95L649.7 278.95zM798.66 63.95L835.9 85.45L835.9 128.45L798.66 149.95L761.42 128.45L761.42 85.45zM873.14 63.95L910.38 85.45L910.38 128.45L873.14 149.95L835.9 128.45L835.9 85.45zM873.14 321.95L910.38 343.45L910.38 386.45L873.14 407.95L835.9 386.45L835.9 343.45zM873.14 450.95L910.38 472.45L910.38 515.45L873.14 536.95L835.9 515.45L835.9 472.45zM835.9 515.45L873.14 536.95L873.14 579.95L835.9 601.45L798.66 579.95L798.66 536.95zM1096.58 63.95L1133.82 85.45L1133.82 128.45L1096.58 149.95L1059.34 128.45L1059.34 85.45zM1059.34 515.45L1096.58 536.95L1096.58 579.95L1059.34 601.45L1022.1 579.95L1022.1 536.95zM1133.82 128.45L1171.06 149.95L1171.06 192.95L1133.82 214.45L1096.58 192.95L1096.58 149.95zM1171.06 321.95L1208.3 343.45L1208.3 386.45L1171.06 407.95L1133.82 386.45L1133.82 343.45zM1320.03 192.95L1357.27 214.45L1357.27 257.45L1320.03 278.95L1282.79 257.45L1282.79 214.45zM1357.27 386.45L1394.51 407.95L1394.51 450.95L1357.27 472.45L1320.03 450.95L1320.03 407.95zM1357.27 515.45L1394.51 536.95L1394.51 579.95L1357.27 601.45L1320.03 579.95L1320.03 536.95z' stroke='rgba(6%2c 211%2c 11%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M124.04 192.95 a4.3 4.3 0 1 0 8.6 0 a4.3 4.3 0 1 0 -8.6 0zM161.28 214.45 a4.3 4.3 0 1 0 8.6 0 a4.3 4.3 0 1 0 -8.6 0zM161.28 257.45 a4.3 4.3 0 1 0 8.6 0 a4.3 4.3 0 1 0 -8.6 0zM124.04 278.95 a4.3 4.3 0 1 0 8.6 0 a4.3 4.3 0 1 0 -8.6 0zM86.8 257.45 a4.3 4.3 0 1 0 8.6 0 a4.3 4.3 0 1 0 -8.6 0zM86.8 214.45 a4.3 4.3 0 1 0 8.6 0 a4.3 4.3 0 1 0 -8.6 0zM347.48 579.95 a4.3 4.3 0 1 0 8.6 0 a4.3 4.3 0 1 0 -8.6 0zM384.72 601.45 a4.3 4.3 0 1 0 8.6 0 a4.3 4.3 0 1 0 -8.6 0zM384.72 644.45 a4.3 4.3 0 1 0 8.6 0 a4.3 4.3 0 1 0 -8.6 0zM347.48 665.95 a4.3 4.3 0 1 0 8.6 0 a4.3 4.3 0 1 0 -8.6 0zM310.24 644.45 a4.3 4.3 0 1 0 8.6 0 a4.3 4.3 0 1 0 -8.6 0zM310.24 601.45 a4.3 4.3 0 1 0 8.6 0 a4.3 4.3 0 1 0 -8.6 0zM384.72 515.45 a4.3 4.3 0 1 0 8.6 0 a4.3 4.3 0 1 0 -8.6 0zM421.96 536.95 a4.3 4.3 0 1 0 8.6 0 a4.3 4.3 0 1 0 -8.6 0zM421.96 579.95 a4.3 4.3 0 1 0 8.6 0 a4.3 4.3 0 1 0 -8.6 0zM347.48 536.95 a4.3 4.3 0 1 0 8.6 0 a4.3 4.3 0 1 0 -8.6 0zM496.44 192.95 a4.3 4.3 0 1 0 8.6 0 a4.3 4.3 0 1 0 -8.6 0zM533.68 214.45 a4.3 4.3 0 1 0 8.6 0 a4.3 4.3 0 1 0 -8.6 0zM533.68 257.45 a4.3 4.3 0 1 0 8.6 0 a4.3 4.3 0 1 0 -8.6 0zM496.44 278.95 a4.3 4.3 0 1 0 8.6 0 a4.3 4.3 0 1 0 -8.6 0zM459.2 257.45 a4.3 4.3 0 1 0 8.6 0 a4.3 4.3 0 1 0 -8.6 0zM459.2 214.45 a4.3 4.3 0 1 0 8.6 0 a4.3 4.3 0 1 0 -8.6 0zM533.68 515.45 a4.3 4.3 0 1 0 8.6 0 a4.3 4.3 0 1 0 -8.6 0zM570.92 536.95 a4.3 4.3 0 1 0 8.6 0 a4.3 4.3 0 1 0 -8.6 0zM570.92 579.95 a4.3 4.3 0 1 0 8.6 0 a4.3 4.3 0 1 0 -8.6 0zM533.68 601.45 a4.3 4.3 0 1 0 8.6 0 a4.3 4.3 0 1 0 -8.6 0zM496.44 579.95 a4.3 4.3 0 1 0 8.6 0 a4.3 4.3 0 1 0 -8.6 0zM496.44 536.95 a4.3 4.3 0 1 0 8.6 0 a4.3 4.3 0 1 0 -8.6 0zM682.64 257.45 a4.3 4.3 0 1 0 8.6 0 a4.3 4.3 0 1 0 -8.6 0zM719.88 278.95 a4.3 4.3 0 1 0 8.6 0 a4.3 4.3 0 1 0 -8.6 0zM719.88 321.95 a4.3 4.3 0 1 0 8.6 0 a4.3 4.3 0 1 0 -8.6 0zM682.64 343.45 a4.3 4.3 0 1 0 8.6 0 a4.3 4.3 0 1 0 -8.6 0zM645.4 321.95 a4.3 4.3 0 1 0 8.6 0 a4.3 4.3 0 1 0 -8.6 0zM645.4 278.95 a4.3 4.3 0 1 0 8.6 0 a4.3 4.3 0 1 0 -8.6 0zM794.36 63.95 a4.3 4.3 0 1 0 8.6 0 a4.3 4.3 0 1 0 -8.6 0zM831.6 85.45 a4.3 4.3 0 1 0 8.6 0 a4.3 4.3 0 1 0 -8.6 0zM831.6 128.45 a4.3 4.3 0 1 0 8.6 0 a4.3 4.3 0 1 0 -8.6 0zM794.36 149.95 a4.3 4.3 0 1 0 8.6 0 a4.3 4.3 0 1 0 -8.6 0zM757.12 128.45 a4.3 4.3 0 1 0 8.6 0 a4.3 4.3 0 1 0 -8.6 0zM757.12 85.45 a4.3 4.3 0 1 0 8.6 0 a4.3 4.3 0 1 0 -8.6 0zM868.84 63.95 a4.3 4.3 0 1 0 8.6 0 a4.3 4.3 0 1 0 -8.6 0zM906.08 85.45 a4.3 4.3 0 1 0 8.6 0 a4.3 4.3 0 1 0 -8.6 0zM906.08 128.45 a4.3 4.3 0 1 0 8.6 0 a4.3 4.3 0 1 0 -8.6 0zM868.84 149.95 a4.3 4.3 0 1 0 8.6 0 a4.3 4.3 0 1 0 -8.6 0zM868.84 321.95 a4.3 4.3 0 1 0 8.6 0 a4.3 4.3 0 1 0 -8.6 0zM906.08 343.45 a4.3 4.3 0 1 0 8.6 0 a4.3 4.3 0 1 0 -8.6 0zM906.08 386.45 a4.3 4.3 0 1 0 8.6 0 a4.3 4.3 0 1 0 -8.6 0zM868.84 407.95 a4.3 4.3 0 1 0 8.6 0 a4.3 4.3 0 1 0 -8.6 0zM831.6 386.45 a4.3 4.3 0 1 0 8.6 0 a4.3 4.3 0 1 0 -8.6 0zM831.6 343.45 a4.3 4.3 0 1 0 8.6 0 a4.3 4.3 0 1 0 -8.6 0zM868.84 450.95 a4.3 4.3 0 1 0 8.6 0 a4.3 4.3 0 1 0 -8.6 0zM906.08 472.45 a4.3 4.3 0 1 0 8.6 0 a4.3 4.3 0 1 0 -8.6 0zM906.08 515.45 a4.3 4.3 0 1 0 8.6 0 a4.3 4.3 0 1 0 -8.6 0zM868.84 536.95 a4.3 4.3 0 1 0 8.6 0 a4.3 4.3 0 1 0 -8.6 0zM831.6 515.45 a4.3 4.3 0 1 0 8.6 0 a4.3 4.3 0 1 0 -8.6 0zM831.6 472.45 a4.3 4.3 0 1 0 8.6 0 a4.3 4.3 0 1 0 -8.6 0zM868.84 579.95 a4.3 4.3 0 1 0 8.6 0 a4.3 4.3 0 1 0 -8.6 0zM831.6 601.45 a4.3 4.3 0 1 0 8.6 0 a4.3 4.3 0 1 0 -8.6 0zM794.36 579.95 a4.3 4.3 0 1 0 8.6 0 a4.3 4.3 0 1 0 -8.6 0zM794.36 536.95 a4.3 4.3 0 1 0 8.6 0 a4.3 4.3 0 1 0 -8.6 0zM1092.28 63.95 a4.3 4.3 0 1 0 8.6 0 a4.3 4.3 0 1 0 -8.6 0zM1129.52 85.45 a4.3 4.3 0 1 0 8.6 0 a4.3 4.3 0 1 0 -8.6 0zM1129.52 128.45 a4.3 4.3 0 1 0 8.6 0 a4.3 4.3 0 1 0 -8.6 0zM1092.28 149.95 a4.3 4.3 0 1 0 8.6 0 a4.3 4.3 0 1 0 -8.6 0zM1055.04 128.45 a4.3 4.3 0 1 0 8.6 0 a4.3 4.3 0 1 0 -8.6 0zM1055.04 85.45 a4.3 4.3 0 1 0 8.6 0 a4.3 4.3 0 1 0 -8.6 0zM1055.04 515.45 a4.3 4.3 0 1 0 8.6 0 a4.3 4.3 0 1 0 -8.6 0zM1092.28 536.95 a4.3 4.3 0 1 0 8.6 0 a4.3 4.3 0 1 0 -8.6 0zM1092.28 579.95 a4.3 4.3 0 1 0 8.6 0 a4.3 4.3 0 1 0 -8.6 0zM1055.04 601.45 a4.3 4.3 0 1 0 8.6 0 a4.3 4.3 0 1 0 -8.6 0zM1017.8 579.95 a4.3 4.3 0 1 0 8.6 0 a4.3 4.3 0 1 0 -8.6 0zM1017.8 536.95 a4.3 4.3 0 1 0 8.6 0 a4.3 4.3 0 1 0 -8.6 0zM1166.76 149.95 a4.3 4.3 0 1 0 8.6 0 a4.3 4.3 0 1 0 -8.6 0zM1166.76 192.95 a4.3 4.3 0 1 0 8.6 0 a4.3 4.3 0 1 0 -8.6 0zM1129.52 214.45 a4.3 4.3 0 1 0 8.6 0 a4.3 4.3 0 1 0 -8.6 0zM1092.28 192.95 a4.3 4.3 0 1 0 8.6 0 a4.3 4.3 0 1 0 -8.6 0zM1166.76 321.95 a4.3 4.3 0 1 0 8.6 0 a4.3 4.3 0 1 0 -8.6 0zM1204 343.45 a4.3 4.3 0 1 0 8.6 0 a4.3 4.3 0 1 0 -8.6 0zM1204 386.45 a4.3 4.3 0 1 0 8.6 0 a4.3 4.3 0 1 0 -8.6 0zM1166.76 407.95 a4.3 4.3 0 1 0 8.6 0 a4.3 4.3 0 1 0 -8.6 0zM1129.52 386.45 a4.3 4.3 0 1 0 8.6 0 a4.3 4.3 0 1 0 -8.6 0zM1129.52 343.45 a4.3 4.3 0 1 0 8.6 0 a4.3 4.3 0 1 0 -8.6 0zM1315.73 192.95 a4.3 4.3 0 1 0 8.6 0 a4.3 4.3 0 1 0 -8.6 0zM1352.97 214.45 a4.3 4.3 0 1 0 8.6 0 a4.3 4.3 0 1 0 -8.6 0zM1352.97 257.45 a4.3 4.3 0 1 0 8.6 0 a4.3 4.3 0 1 0 -8.6 0zM1315.73 278.95 a4.3 4.3 0 1 0 8.6 0 a4.3 4.3 0 1 0 -8.6 0zM1278.49 257.45 a4.3 4.3 0 1 0 8.6 0 a4.3 4.3 0 1 0 -8.6 0zM1278.49 214.45 a4.3 4.3 0 1 0 8.6 0 a4.3 4.3 0 1 0 -8.6 0zM1352.97 386.45 a4.3 4.3 0 1 0 8.6 0 a4.3 4.3 0 1 0 -8.6 0zM1390.21 407.95 a4.3 4.3 0 1 0 8.6 0 a4.3 4.3 0 1 0 -8.6 0zM1390.21 450.95 a4.3 4.3 0 1 0 8.6 0 a4.3 4.3 0 1 0 -8.6 0zM1352.97 472.45 a4.3 4.3 0 1 0 8.6 0 a4.3 4.3 0 1 0 -8.6 0zM1315.73 450.95 a4.3 4.3 0 1 0 8.6 0 a4.3 4.3 0 1 0 -8.6 0zM1315.73 407.95 a4.3 4.3 0 1 0 8.6 0 a4.3 4.3 0 1 0 -8.6 0zM1352.97 515.45 a4.3 4.3 0 1 0 8.6 0 a4.3 4.3 0 1 0 -8.6 0zM1390.21 536.95 a4.3 4.3 0 1 0 8.6 0 a4.3 4.3 0 1 0 -8.6 0zM1390.21 579.95 a4.3 4.3 0 1 0 8.6 0 a4.3 4.3 0 1 0 -8.6 0zM1352.97 601.45 a4.3 4.3 0 1 0 8.6 0 a4.3 4.3 0 1 0 -8.6 0zM1315.73 579.95 a4.3 4.3 0 1 0 8.6 0 a4.3 4.3 0 1 0 -8.6 0zM1315.73 536.95 a4.3 4.3 0 1 0 8.6 0 a4.3 4.3 0 1 0 -8.6 0z' fill='rgba(6%2c 211%2c 11%2c 1)'%3e%3c/path%3e%3cpath d='M867.27 110.28L1031.82 205.28L1031.82 395.28L867.27 490.28L702.72 395.28L702.72 205.28zM1031.82 -174.72L1196.37 -79.72L1196.37 110.28L1031.82 205.28L867.27 110.28L867.27 -79.72zM1360.92 -174.72L1525.47 -79.72L1525.47 110.28L1360.92 205.28L1196.37 110.28L1196.37 -79.72z' stroke='rgba(0%2c 189%2c 58%2c 0.93)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1010'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-size: cover;

}

form input {
    width: 700px;
    height: 40px;
    border: 0;
    border-bottom: 3px solid green;
    font-size: 26px;
}

textarea {
    height: 300px;
    border: 3px solid green;
    font-size: 26px;
}

button {
    background-color: green;
    font-weight: bold;
    color: white;
    font-size: 18px;
    padding: 10px;
}

#map {
    height: 80vh;
    display: none;
}

#result {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: .5rem;
    display: none;
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    /* Safari */
    animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}